/* TOP NAV BAR */

#logout {
    text-decoration: none;
    color: honeydew;
    font-size: 20px;
}

.nav-item {
    margin: 6px;
    font-size: 20px;
}


/* SIDE NAV BAR */

.sidebar {
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: #343a40;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #FEE715FF;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #F2AA4CFF;
    color: white;
}

div.content {
    margin-left: 350px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: none;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


/* EXTENDED SIDE NAV BAR ANIMATION*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FEE715FF;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}